<div>
  <table
    style="
      width: 100%;
      padding: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    "
  >
    <thead
      style="
        color: rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.05);
        text-align: left;
      "
    >
      <tr>
        <th>日付</th>
        <th>クライアント</th>
        <th>現場</th>
      </tr>
    </thead>
    <tbody>
      <div>
        <!--<% rows.forEach(row => { %>-->
        <tr>
          <td>
            <div><!--<% date %>--></div>
          </td>
          <td>
            <div><!--<% client %>--></div>
          </td>
          <td>
            <div><!--<% project %>--></div>
          </td>
        </tr>
        <!--<% }) %>-->
      </div>
    </tbody>
  </table>
</div>
